<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--**********************************************************************
Copyright (c) 2008 Erik Bengtson and others. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Contributors:
    ...
**********************************************************************-->
<plugin id="org.datanucleus.store.xml" name="DataNucleus XML" provider-name="DataNucleus">
    <!-- STORE MANAGER -->
    <extension point="org.datanucleus.store_manager">
        <store-manager class-name="org.datanucleus.store.xml.XMLStoreManager" key="xml" url-key="xml"/>
    </extension>

    <!-- QUERY LANGUAGES -->
    <extension point="org.datanucleus.store_query_query">
        <query class-name="org.datanucleus.store.xml.query.JDOQLQuery" datastore="xml" name="JDOQL"/>
        <query class-name="org.datanucleus.store.xml.query.JPQLQuery" datastore="xml" name="JPQL"/>
    </extension>

    <!-- CONNECTION FACTORY -->
    <extension point="org.datanucleus.store_connectionfactory">
        <connectionfactory name="xml" class-name="org.datanucleus.store.xml.ConnectionFactoryImpl" 
            transactional="true" datastore="xml"/>
    </extension>
                
    <!-- VALUE GENERATORS -->
    <extension point="org.datanucleus.store_valuegenerator">
        <valuegenerator name="generate-id" class-name="org.datanucleus.store.xml.valuegenerator.GenerateIDGenerator" datastore="xml"/>
    </extension>            

    <!-- PERSISTENCE PROPERTIES -->
    <extension point="org.datanucleus.persistence_properties">
        <persistence-property name="datanucleus.xml.jaxbHandlerClass" datastore="true" value="org.datanucleus.store.xml.jaxbri.JAXBRIHandler"/>
        <persistence-property name="datanucleus.xml.indentSize" datastore="true" value="4"
            validator="org.datanucleus.properties.IntegerPropertyValidator"/>
    </extension>
</plugin>
